# Temporary and swap files
*~
.*.swp

# Latex temporary and generated
dissertation.acn
dissertation.acr
dissertation.alg
dissertation.aux
dissertation.bbl
dissertation.blg
dissertation.fdb_latexmk
dissertation.fls
dissertation.ist
dissertation.lof
dissertation.log
dissertation.lot
dissertation.out
dissertation.pdf
dissertation.pdfsync
dissertation.synctex.gz
dissertation.tdo
dissertation.toc

